body{
 background-image: url(Img/ff.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
header{
    background-attachment: fixed;
    text-align: start;
    
    
}

form{
    background-color: #86aba5;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 500px;
}

table{
    background-color: #92aaa6;
    
    width: 1000px;
    border-radius: 10px;
    
}